/* css styles */

/* Make title invisible -- issues with blog title*/
/* .quarto-title > h1.title {
  opacity: 0 !important;
} */

/*-- scss:defaults --*/
// Base document colors
$link-color: rgb(43, 43, 189);

// Navigation
$footer-bg : #2c3e50;